/*********************
        VARIABLES
*********************/
$font-size-0: 3em;
$font-size-1: 2.5em;
$font-size-2: 2em;
$font-size-3: 1.5em;
$font-size-4: 1.25em;
$font-size-5: 1em;
$font-size-6: 0.75em;
$font-size-7: 3.5em;

$margin-0: 2em;
$margin-1: 1.5em;
$margin-2: 1em;
$margin-3: 0.75em;
$margin-4: 0.5em;
$margin-5: 0.25em;
$margin-6: 3em;

$padding-0: 4em;
$padding-1: 3em;
$padding-2: 2em;
$padding-3: 1.5em;
$padding-4: 1em;
$padding-5: 0.75em;
$padding-6: 0.5em;
$padding-7: 0.25em;

$color-grey: rgba(165, 165, 165, 1);
$color-blue: rgba(0, 122, 255, 1);
$color-white: rgba(255, 255, 255, 1);
$color-border: rgba(226, 232, 238, 1);
$color-footer: rgba(35, 36, 41, 1);
$color-black: rgba(0,0,0,1);
$color-card-plans: rgba(7, 30, 85,1);
$color-card-check: rgba(94, 194, 50,1);
$color-card-button: rgba(94, 194, 50,1);

/*********************
    BREAKPOINTS
*********************/

@mixin breakpoint($point) {
    @if $point==extra_large {
        @media (min-width: 1400px) {
            @content ;
        }
    }

    @else if $point==desktop {
        @media (min-width: 1200px) and (max-width: 1399px) {
            @content ;
        }
    }

    @else if $point==laptop {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content ;
        }
    }

    @else if $point==tablet {
        @media (min-width: 768px) and (max-width: 991px) {
            @content ;
        }
    }

    @else if $point==phablet {
        @media (min-width: 576px) and (max-width: 767px) {
            @content ;
        }
    }

    @else if $point==mobileonly {
        @media (max-width: 575px) {
            @content ;
        }

    }
}